apiVersion: v1
baseDomain: {{ base_domain }}
metadata:
  name: {{ cluster_name }}
credentialsMode: Manual
controlPlane:
  name: master
  replicas: 1
  architecture: arm64
  platform:
    aws:
      type: {{ sno_instance_type }}
      rootVolume:
        size: {{ sno_root_volume_gb }}
        type: gp3
compute:
- name: worker
  replicas: 0
  architecture: arm64
networking:
  networkType: OVNKubernetes
  machineNetwork:
  - cidr: {{ vpc_machine_cidr }}
platform:
  aws:
    region: {{ aws_region }}
    vpc:
      subnets:
{% for s in subnet_ids %}
      - id: {{ s }}
{% endfor %}
publish: External
pullSecret: '{{ pull_secret }}'
sshKey: |
  {{ ssh_public_key }}
